#myList
{
   margin-top: 10px;
   margin-right: 5vh;
}
#myList li 
{
    list-style-type: none;
    overflow: auto;
    margin-bottom: 10px;
}
#myList li div
{
   width: 25%;
   height: 300px;
   background-color: #ee2939;
   color: #ffffffff;
   padding: 2vh;
}